@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

body{
    color: white;
    background-attachment: fixed;
    position: relative;
}
.admin{
    color: #212529 !important;
}
.cover{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
#error-pass,.submitButton, .resetButton,.abortButton, .hidden-input,
#addTask, .add-file, .delete-file, #pass-check, #userChange, #passChange, #themeChange{
display: none;
}

#logout-form{
margin: 0;
}

.custom-file{
width: 50%;
}
i{
color: #DC3545;
}
.delete-file{
background-color: transparent;
border: 0;
}
#resetLink{
display: block;
}

