@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

#error-pass,.submitButton, .resetButton,.abortButton, .hidden-input,
#addTask, .add-file, .delete-file, #pass-check, #userChange, #passChange{
    display: none;
}

#logout-form{
    margin: 0;
}

.custom-file{
    width: 50%;
}
i{
    color: #DC3545;
}
.delete-file{
    background-color: transparent;
    border: 0;
}

