<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <div th:replace="parts/head.html"></div>
    <title>My Smart Calendar: home page</title>
</head>
<body th:style="'background-image: url(' + @{/imgs/} + ${user.theme} + ');'">
<section class="cover">
<header th:replace="parts/header.html :: header"></header>
<main>
    <div class="container mb-5">
        <div th:replace="parts/userData.html"></div>
    </div>
</main>
<footer th:replace="parts/footer.html :: footer"></footer>
</section>
</body>
</html>