<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <div th:replace="parts/head.html"></div>
    <title>My Smart Calendar: edit user data</title>
</head>
<body th:style="'background-image: url(' + @{/imgs/} + ${user.theme} + ');'">
<section class="cover">
<header th:replace="parts/header.html :: header"></header>
<main>
    <div class="container mt-3">
        <h3 class="mb-3">Редактирование данных пользователя</h3>
        <form th:action="@{'/admin/' + ${user.id}}" method="post" th:object="${user}" class="form-inline">
            <input hidden th:field="*{id}"/>
            <input class="form-control mr-3" th:field="*{email}"/>
            <label>
                <select class="form-control mr-3" th:field="*{role}">
                    <option th:each="rl : ${roles}" th:value="${rl}" th:text="${rl}">
                    </option>
                </select>
            </label>
            <input type="checkbox" class="mr-3" th:field="*{enabled}"/>
            <button type="submit" class="btn btn-success mr-3">Сохранить</button>
        </form>
    </div>
</main>
<footer th:replace="parts/footer.html :: footer"></footer>
</section>
</body>
</html>