<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <div th:replace="parts/head.html"></div>
    <title>My Smart Calendar: home page</title>
</head>
<body>
<header th:replace="parts/header.html :: header"></header>
<main>
    <div class="container">
        <div th:replace="parts/taskList.html"></div>
            <button type="button" class="btn btn-success" id="addButton">Добавить задачу</button>
            <br><br><br>
            <form class="form-inline" th:action="@{/home/addTask}" method="post" th:object="${taskDto}" id="addTask" enctype="multipart/form-data">
                <input class="form-control" th:field="*{shortDesc}" placeholder="Краткое описание"/>&nbsp;&nbsp;&nbsp;&nbsp;
                <input class="form-control" th:field="*{fullDesc}" placeholder="Полное описание"/>&nbsp;&nbsp;&nbsp;&nbsp;
                <input  class="form-control" type="date" th:field="*{execPeriod}"/>&nbsp;
                <input type="file" name="file"/>
                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>
    </div>
</main>

<footer th:replace="parts/footer.html :: footer"></footer>
</body>
</html>