<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <div th:replace="parts/head.html"></div>
    <title>My Smart Calendar: register</title>
</head>
<body>
<header th:replace="parts/header.html :: header"></header>
<main>
    <div class="container mt-3">
        <h3>Регистрация нового пользователя</h3>
        <p class="text-danger" role="alert" th:text="${error}"></p>
        <form class="pass-header" action="/reg" th:object="${user}" method="POST" enctype="utf8">
            <div class="form-group row">
                <label for="firstName" class="col-sm-2">Имя: </label>
                <input required class="form-control col-sm-8" id="firstName" th:field="*{firstName}"/>
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-sm-2">Фамилия</label>
                <input required class="form-control col-sm-8" id="lastName" th:field="*{lastName}"/>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2"> Ваш email: </label>
                <input required class="form-control col-sm-8" id="email" type="email" th:field="*{email}"/>
            </div>
            <div class="form-group row" >
                <label for="pass" class="col-sm-2">Пароль: </label>
                <input required class="form-control col-sm-8" id="pass" type="password" th:field="*{password}"/>
            </div>
            <div class="form-group row">
                <label for="matchPass" class="col-sm-2">Подтвердите пароль: </label>
                <input required class="form-control col-sm-8" id="matchPass" type="password"/>
                <br>
                <div class="alert alert-warning mt-3" role="alert" id="error-pass">Пароли не совпадают!</div>
            </div>
            <div class="form-group form-check row">
                <input required type="checkbox" class="form-check-input ml-1" id="check" />
                <label  class="form-check-label ml-4" for="check">Я даю согласие на обработку персональных данных</label>
            </div>
            <div class="g-recaptcha" data-sitekey="6LcE58wZAAAAAN-q6188PnSgWQx_DekRQvBrQ54s"></div>
            <p class="text-danger" role="alert" th:text="${captchaError}"></p>
            <button type="submit" class="btn btn-success">Зарегистрироваться</button>
        </form>
        <a href="/login">Вернуться на страницу авторизации</a>
    </div>
</main>
<footer th:replace="parts/footer.html :: footer"></footer>
</body>
</html>