<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<br><br>
<div th:switch="${user.tasks.size()}">
    <h3 th:case="0">Пока вы не добавили ни одной задачи</h3>
    <div th:case="*">
        <h3>Задачи</h3>
        <table class="table table-stripped">
            <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Срок</th>
                <th>Вложение</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task, itemStat : ${taskListDto.tasks}">
                <form th:action="@{/home}" method="post" th:object="${taskListDto}" class="taskForm form-inline"
                      enctype="multipart/form-data">
                    <input hidden th:attr="value = ${task.id}" name="id"/>
                    <input hidden th:field="*{tasks[__${itemStat.index}__].id}"/>
                    <td><input th:field="*{tasks[__${itemStat.index}__].shortDesc}" class="form-control" disabled/>
                    </td>
                    <td><input th:field="*{tasks[__${itemStat.index}__].fullDesc}" class="form-control" disabled/>
                    </td>
                    <td><input type="date"
                               th:field="*{tasks[__${itemStat.index}__].execPeriod}" class="form-control" disabled/>
                    </td>
                    <td><a target="_blank" th:href="@{'/files/' + *{tasks[__${itemStat.index}__].fileName}}"
                           th:text="*{tasks[__${itemStat.index}__].fileName}"></a>
                    <button type="button" class="delete-file">
                        <i class="fa fa-times-circle"></i>
                        <input type="checkbox" th:field="*{tasks[__${itemStat.index}__].hasFile}" class="hidden-input"/>
                        </button>
                        <input type="file" name="file" class="hidden-input add-file"/>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success update-data mb-2">Редактировать</button>
                        <button type="submit" class="btn btn-success submitButton mb-2">Сохранить</button>
                        <button type="button" class="btn btn-danger delete-data mb-2">
                            <input th:field="*{tasks[__${itemStat.index}__].isExist}"
                                   class="hidden-input" type="checkbox" checked>Удалить</button>
                        <button type="reset" class="btn btn-dark resetButton mb-2" name="reset">Сброс</button>
                        <button type="button" class="btn btn-dark abortButton mb-2" name="Отмена">Отмена</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</html>